@import "tailwindcss";
:root {
  --font-sans: 'Manrope Variable', sans-serif;
  --font-serif: 'Playfair Display Variable', serif;
}

body {
  background-color: #f8f4dd;
  color: #0b210e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #398f00;
}