@import "tailwindcss";
:root {
  --font-sans: 'Manrope Variable', sans-serif;
  --font-serif: 'Playfair Display Variable', serif;
}

body {
  background-color: var(--color-cream);
  color: var(--color-dark-green);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-brand-green);
}
