@import "tailwindcss";

@theme {
  --color-cream: #f8f4dd;
  --color-dark-green: #0b210e;
  --color-brand-green: #398f00;

  --font-sans: 'Manrope', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

body {
  background-color: var(--color-cream);
  color: var(--color-dark-green);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-brand-green);
}
